<cm-wiki>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                {{#previewMode}} <div> <h2 class="panel-title">{{wiki.title}}</h2> </div> {{/previewMode}}
                {{#editMode}} <div> <input class="form-control" can-value="wiki.title" />  </div> {{/editMode}}

            </div>
            <div class="col-md-3 cm-wikiBar">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default {{#editMode}} active {{/editMode}}" can-click="edit">Edit</button>
                    <button type="button" class="btn btn-sm btn-default {{#previewMode}} active {{/previewMode}}" can-click="preview" >Preview</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
       {{#previewMode}} <div> {{wiki.content}} </div> {{/previewMode}}
        {{#editMode}} <div> <textarea class="cm-box" can-value="wiki.content">  </textarea> </div> {{/editMode}}

    </div>
    <div class="panel-footer">Wiki Version: {{wiki.version}}</div>

</div>
</cm-wiki>
