<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                <h2 class="panel-title">{{wiki.title}} </h2>
            </div>
            <div class="col-md-3 cm-wikiBar">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default">Edit</button>
                    <button type="button" class="btn btn-sm btn-default">Preview</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {{wiki.content}}
    </div>
</div>